@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/*
		forcing default y scrollbar as navbar shifts while navigating between home/notfound page and docs/demo page
		since homepage/notfoundpage renders without scrollbar and other pages render with scrollbar
		Note: This can be removed once the content of homepage/notfoundpage is large enough to cause scrollbar
	*/
	overflow-y: scroll; 
	scroll-behavior: smooth;
}

.link-button {
	@apply py-1 px-2 border-2 border-black rounded-lg font-semibold;
}
