@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom utility classes */

.page-width-cap {
	@apply w-full max-w-screen-xl
}
.light-bottom-border {
	@apply border-b border-[hsl(215,15%,92%)];
}

/* base styles*/
#root {
	width: 100%;
	text-align: center;
}
